html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
menu,
blockquote {
  margin: 0;
  padding: 0;
}

ul li, ol li {
  list-style: none;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}

a:focus {
  outline: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  display: inline-block;
  vertical-align: middle;
}

img,
button {
  border: 0;
}

button {
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

section {
  position: relative;
}

input,
select,
button {
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
